
.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
  }
  
  .footer__socials a {
    background: var(--color-bg);
    color: var(--color-white);
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    display: flex;
    border: 1px solid transparent;
  }
  
  .footer__socials a:hover {
    background: transparent;
    color: var(--color-bg);
    border-radius: var(--color-bg);
  }